.modal {
  margin-left: -480px;
  width: 80%;

}

.alert {
  width:650px;
}

table.tablesorter td { 
  padding: 5px;   
} 
#headline {
  margin-bottom: 25px;
}

#myTable {
  margin-top: 20px;
}

#main {
  margin-right:auto; margin-left:auto; width:800px; height:100px;
}
#field {
  width: 650px; 
  height: auto;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 7px 9px;
}



