<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; ' + 'charset=UTF-8" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/JavaScript" src="view/js/application.js"></script>
	</head>
  <body>
  	<div id="main">
      <h1>Testing Javascript</h1>
      <div id="result">
      </div>
      <div id="toFill">
        <input type="text" id="field" size="25" placeholder="Enter thought">
        <button type="button" id="submit">Submit</button>
      </div>
    </div>
  </body>
</html>